
.hero-section {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 95px;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    
  }
  
  
  .facility-detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .facility-image img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .facility-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .facility-text h2{
    color:#f27c49 ;
  }
  
  
  .facility-article-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  
  .facility-article-section h2
   {
    margin-top: 1rem;
    color: #eb4b98;
  }
  .facility-article-section p
  {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  
  .facility-article-section ul {
    padding-left: 1.5rem;
    margin-top: 1rem;
  }
  
  .facility-article-section li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  
 
  @media (max-width: 768px) {
    .hero-section{
      margin-top: 0px;
    }
    .facility-detail-grid {
      grid-template-columns: 1fr;
    }
  
    .hero-title {
      font-size: 2rem;
    }
  
    .hero-subtitle {
      font-size: 1.2rem;
    }
  }
  