.blog-detail {
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Segoe UI", sans-serif;
    color: #333;
    line-height: 1.8;
    margin-top: 95px;
  }
  
  .blog-detail img {
    width: 100%;
    border-radius: 12px;
    max-height: 900px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .blog-detail h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #e82781;
  }
  
  .blog-detail .date {
    font-size: 1.1rem;
    color: #777;
    margin-bottom: 30px;
  }
  
  .blog-detail p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  @media all and (max-width: 786px)
  {
    .blog-detail{
      margin-top: 0px;
    }
  }
  